# Podstawy pythona
___

In [4]:
#to ze ciag dalszy znajduje sie w kolejnym wierszu, mozna oznaczy za pomoca ukosnika
two_plus_three = 2 + \
                 3

two_plus_three

5

##### Moduly:
___

In [ ]:
#nie warto importowac calej zawartosci modulu, 
#bo spowoduje to nadpisanie zdefiniowanych wczesniej zmiennych
match = 10
from re import *
print(match)

##### Funkcje:
___
jest blokiem kodu , ktory moze przyjac dowolna liczbe argumentow i wygerenowac na podstawie ich wynik

In [25]:
def double(x):
    """Tu moze byc wyjasnienie dzialania funkcji"""
    return x*3

double(10)

30

In [34]:
#python umozliwia przypisywanie funkcji do zmiennych 
#i przekazywanie ich do inncyh funkcji w roli argumentow
def apply_to_one(f):
    return f(1)

my_double = double
x = apply_to_one(my_double)
x

3

In [35]:
# python umozliwia tworzenia ktorkich anonimowych funkcji lambda:
y = apply_to_one(lambda x: x+4)
y

5

In [45]:
#gdy jest mozliwosc lepiej lepiej tworzyc funkcje za pomoca def , niz za pomoca lambdy
def another_double(x): return 2*x # porawnie
another_double1 = lambda x: 2*x # blednie

#### lanchuny (string):
___

In [47]:
#lancuchy ozna podalac w pojedynczych lub podwojnych cudzyslowach
single_quoted_string = 'analiza danych'
double_quoted_string = "analiza danych"

In [56]:
#znaki specjlalne w lancuchacg umieszcza sie po uskosniku:
tab_string = "\t"
len(tab_string) #\t jest jednym znakiem#

1

In [61]:
#aby umiescic w lancuchach znak ukosnia, mozemy utworzyc 'surowy' lanchuch za pomoca r"" 
not_tab_string = r"\t"
len(not_tab_string) # za pomoca r"\t" - \t teraz dwa znaki

2

In [68]:
#wieloliniowe lancuchy
multi_line_string = """To pierwsza linia,
                    to druga linia,
                    a to trzecia linia."""
multi_line_string

'To pierwsza linia,\n                    to druga linia,\n                    a to trzecia linia.'

In [82]:
first_name = 'Denys'
last_name = 'Zvarych'

#mozliwosc tworzenia lancuchow za pomoca notacji f
print(f'Nazywam sie {first_name} {last_name}')

#tworzenia lancuchow za pomoca funckji format
print("Moje imie i nazwisko - {0} {1}".format(first_name,last_name))

#tworzenia lancuchow za pomoca ich dodawania
print("Imie i nazwisko: ", first_name + " " + last_name)

Nazywam sie Denys Zvarych
Moje imie i nazwisko - Denys Zvarych
Imie i nazwisko:  Denys Zvarych

### Wyjatki
___
do obslugi wyjatkow sluzy polecenia `try` i `except`

In [85]:
try:
    print(0/0)
except ZeroDivisionError:
    print("nie mozna dzielic przez zero")

nie mozna dzielic przez zero

# TYPY DANYCH PYTHON
___
___
**Typy danych w pythonie**:
>* Numbers (liczby) (int,float)
>* Strings (lancuchy)
>* Lists (listy)
>* Dictionaries (slowniki)
>* Tuples (krotki)
>* Sets (zbiory)
>* Boolean (logiczne typy danych)

**Te typy danych można z kolei sklasyfikować według kilku cech:**

* **mutowalne(ang. mutable)** -  (listy, słowniki i zbiory)

* **niemutowalne (ang. immutable)** - (int,float string,boolm,NoneType i krotki, frozenset)

* uporządkowane (listy, krotki, ciągi i słowniki)

* nieuporządkowane (set)

# Python lista
___
Listy są strukturą pozwalającą na przechowywanie elementów w sposób uporządkowany. Listy tworzy się za pomocą nawiasów kwadratowych, oddzielając elementy przecinkami

W języku angielskim dla określenia listy używa się słów: **array, vector, matrix, list**

> Właściwości listy:
> * jest **mutowalna** – można dodawać lub usuwać z niej elementy
> * może przechowywać różne typy danych np. łańcuchy znaków, krotki, listy, słowniki, funkcje, obiekty plików i dowolne rodzaje liczb
> * możliwe jest odnoszenie się do podzbiorów, czy wycinków listy (ang. slice)

In [106]:
integer_list = [1,2,3]
heterogeneous_list = ['hello', 0.1, 23, True]
list_of_lists = [integer_list, heterogeneous_list, []]
list_length = len(integer_list) # rowna sie 3
list_sum = sum(integer_list) # rowna sie 6

##### Innym sposobem tworzenia listy są generatory list. Generator list to sposób na zbudowanie nowej listy poprzez zastosowanie wyrażenia do każdego elementu sekwencji.

In [26]:
list1 = [x for x in 'Denys']
list1

['D', 'e', 'n', 'y', 's']

In [27]:
list1 = [x*2 for x in [1,2,3,4,5]]
list1

[2, 4, 6, 8, 10]

In [30]:
list1 = [x*10 for x in [1,2,3,4,5] if x%2==0]
list1

[20, 40]

##### **Wycinki `[i:j]`** -  wszystki numery i wlacznie do elementu j , ale bez niego

In [ ]:
#wycinki
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
x[0] = -1
x[3:]  # [-1, 1, 2]
x[1:5] # [3, 4, ..., 9]
x[-3:] # [7, 8, 9]
x[1:-1] # [1, 2, ..., 8]
copy_of_x = x[:] # [-1, 1, 2, ..., 9]

#wycinek jeszcze moze przyjac jeden argument , okreslajacy odstep, i moze byc nawet ujemny
x[::3] # [-1, 3, 6, 9]
x[5:2:-1]  # [5, 4, 3]

##### Operator `in` sluzy do sprawdzanue przyleznosci do listy

In [5]:
1 in x #True
123 in x # False

False

##### wygodny mechamizm rozpakowywania list:

In [31]:
x,y = [1,2]
print("x rowna sie: {0}\ny rowna sie: {1}".format(x,y))

#jezeli nie potrzebuje jakiejs wartosci to moge zastapic ja znakiem podkreslenia:
_, y = [2,3] # teraz y === 3, a pierwszy element zostal pominiety

x rowna sie: 1
y rowna sie: 2

### Typ danych listy ma kilka więcej metod. To wszystkie metody obiektów listy:
___

##### Dwie listy mozna ze soba latwo polaczyc, funckja `extend()` sluzy do dodawania do listy elementow z innego zbiory

In [20]:
#w takim razie lista x bedzie modyfikowana
x = [1,2,3]
x.extend([4,5,6])
x # lista ma teraz postac [1,2,3,4,5,6]

#w takim razie lista x nie bedzie modyfikowana
x = [1,3,4,5]
y = x + [4,9,12]

##### dolaczania do listy pojedynczego elementy za pomoca fukncji `append()`

In [53]:
x = [1,2,3,4,5,6,7,8,8]
x.append(21)
x

[1, 2, 3, 4, 5, 6, 7, 8, 8, 21]

##### `insert()` wstawia element na podaną pozycję. Pierwszy argument jest indeksem elementu, przed który wstawiamy

In [5]:
x = [1,2,3,4,5,6]
x.insert(-1,2) # na pozycje -1, wstawiam 2
x

[1, 2, 3, 4, 5, 2, 6]

##### `remove()` usuwa pierwszy element z listy, którego wartość jest równa x. Rzuca ValueError, jeśli nie ma takiego elementu.

In [51]:
x = [1,3,4,4,6]
x.remove(4)
x

[1, 3, 4, 6]

##### Usuwa element z podanej pozycji na liście i zwraca go. Jeśli indeks nie jest podany, a.pop() usuwa i zwraca ostatni element listy.

In [78]:
x  = [1,2,3,4,5,6,7]
x.pop(1) # usuwa 1 element i zwraca go czyli 2. 
x

[1, 3, 4, 5, 6, 7]

### usywanie wszystkich elementow z listy `clear()` , usuniecia calej listy `del nazwa`

In [82]:
x.clear()
x

[]

In [85]:
x = [1,2,3,4,5]
del x
x

NameError: name 'x' is not defined

##### `index()` wraca indeks (liczony od zera) pierwszego elementu na liście, którego wartość jest równa x. Rzuca ValueError, jeśli nie ma takiego elementu.

In [99]:
x = [0,1,2,3,4,4,5,6,7]
x.index(4)

4

##### `count()` zwraca liczbę razy, jaką x występuje w liście.

In [108]:
x = [1,2,3,4,3,2,1,2]
x.count(2)

3

#####  `sort()` sortuje elementy listy w miejscu, 
paremetr:
* reverse=False

In [118]:
x = [3,34,5,2,5,2,52,5,12,5,6,4,2,4]
x.sort(reverse=True)
x

[52, 34, 12, 6, 5, 5, 5, 5, 4, 4, 3, 2, 2, 2]

##### `reverse()` Odwraca elementy listy w miejscu.

In [131]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
x.reverse()
x

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

##### `copy()` Zwraca płytką kopię listy. Ekwiwalent a[:].

In [137]:
x = [1,2,3,4,5]
y = x.copy()
y
print(id(x))
print(id(y))

140536323788288
140536323491648

In [142]:
y = x[:]
y 
print(id(x))
print(id(y))

140536323788288
140536323491008

# Słowniki
___
Słowniki w Pythonie to nieuporządkowane zbiory dowolnych obiektów z dostępem według klucza. Czasami nazywane są również tablicami asocjacyjnymi lub tablicami mieszającymi (hash table)

Najlepiej jest myśleć o słowniku jako zbiorze par klucz: wartość, z wymaganiem aby klucze były unikalne

# Kluczami slownika moge byc tylko niemutowane obiekty: np.set

In [52]:
d = {}
d[[1,2,3,4]] = 4 # list nie moze byc kluczem dict tak jak jest mutable

TypeError: unhashable type: 'list'

In [53]:
d[(1,2,3,4)] = 4 
d

{(1, 2, 3, 4): 4}

##### Tworzenia slownika:

In [7]:
#Para nawiasów klamrowych tworzy pusty słownik: `{}`.
dict1 = {}
type(dict1)

dict

In [8]:
d = {'dict': 1, 'dictionary': 2}
d

{'dict': 1, 'dictionary': 2}

##### Za pomoca funkcji `dict()˜

In [19]:
d = dict(last_name='Zvarych', first_name = 'Denys')
d

{'last_name': 'Zvarych', 'first_name': 'Denys'}

In [24]:
d = dict([(1,3),(2,4)])
d

{1: 3, 2: 4}

##### Za pomoca generatora slownikow

In [48]:
d = {x: 'x'+str(x) for x in range(7)}
d

{0: 'x0', 1: 'x1', 2: 'x2', 3: 'x3', 4: 'x4', 5: 'x5', 6: 'x6'}

#### Metody slownika:
___

##### `dict.get(key)` - zwraca wartość klucza, ale jeśli go nie ma, nie zgłasza wyjątku, ale zwraca wartość default (domyślnie None).

In [24]:
d = {x: x*2 for x in range(11)}
d.get(10)

20

##### `dict.items ()`  - zwraca pary (klucz, wartość).

In [6]:
d.items()

dict_items([(0, 0), (1, 2), (2, 4), (3, 6), (4, 8), (5, 10), (6, 12), (7, 14), (8, 16), (9, 18), (10, 20)])

##### `dict.keys ()`  - zwraca klucze w słowniku.

In [7]:
d.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

##### `dict.values()`  - zwraca wartości w słowniku

In [8]:
d.values()

dict_values([0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20])

##### `dict.pop(key)`  - удаляет ключ и возвращает значение.

In [15]:
d.pop(9)

18

In [12]:
d

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 10: 20}

##### `dict.popitem()` - usuwa i zwraca ostatnia parę (klucz, wartość).

In [25]:
d.popitem()

(10, 20)

In [26]:
d

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

##### `dict.setdefault(key)` - zwraca wartość klucza, ale jeśli go nie ma, nie zgłasza wyjątku, ale tworzy klucz o wartości default (domyślnie None).

In [31]:
d.setdefault(11)

In [32]:
d

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 11: None}

##### `dict.update ([other])` - aktualizuje słownik, dodając pary (klucz, wartość) z other. Istniejące klucze są nadpisywane. Zwraca None (Nie nowy słownik!).

In [35]:
d2 = {x : 1 + x**3 for x in range(10)}
d2

{0: 1, 1: 2, 2: 9, 3: 28, 4: 65, 5: 126, 6: 217, 7: 344, 8: 513, 9: 730}

In [36]:
d.update(d2)

In [37]:
d

{0: 1,
 1: 2,
 2: 9,
 3: 28,
 4: 65,
 5: 126,
 6: 217,
 7: 344,
 8: 513,
 9: 730,
 11: None}

# Zbiory,zestawy(sets)
___
Zbiory tworzone są z elementów interowalnych w taki sposób, że w dany zbiorze może znaleźć się tylko jeden element o danej wartości.

JEST STRUKTURA NIEUPORZADKOWANA CO OZNACZA:

W przeciwieństwie do tablic, gdzie elementy są przechowywane jako uporządkowana lista, kolejność elementów w zbiorze jest niezdefiniowana (ponadto elementy zestawu zwykle nie są przechowywane w kolejności pojawiania się w zbiorze, co pozwala na sprawdzenie, czy element należy do zestawu szybciej niż przechodzenie przez wszystkie elementy zestawu).

Dowolny niezmienny typ danych może być elementem zestawu: liczbą, łańcuchem, krotką. Zmienne (zmienne) typy danych nie mogą być elementami zestawu. W szczególności lista nie może być elementem zestawu (ale krotką), a inny zestaw nie może być elementem zestawu.

##### Jak zdefiniowac zestaw?
za pomoca funkcji `set()`

In [27]:
A = set('analiza danych')
A

{' ', 'a', 'c', 'd', 'h', 'i', 'l', 'n', 'y', 'z'}

#####  Moge zdefiniować zestaw nazywając wszystkie jego elementy w nawiasach.

In [25]:
A = {2,2,32," ",42,"Fe",524}
A

{' ', 2, 32, 42, 524, 'Fe'}

##### Kolejność elementów jest nieważna. Set  jest struktura danych nieuporzadkowana

In [31]:
A = {1,2,3,4,5}
B = {1,2,3,4,5,3,2,1,2,3,4,2,1,2}
A == B

True

 #####  Operacje z setem

In [90]:
set1 = {x*2 for x in range(10)}

#dlugosc zbiory 
len(set1) # 10
 
#sprawdzenie czy element jest w zbiorze za pomoca 'in'
12 in set1 #True

#aby dodać element do zestawu, należy add() metodę:
set1.add(20)
set1

#moge przekształcić zestaw do listy używając list funkcji.
list(set1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

##### Istnieją dwie metody usuwania elementu z zestawu: `discard` i `remove`. Ich zachowanie zmienia się tylko w przypadku, gdy usunięty element nie był w zestawie. W takim przypadku metoda `discard` nic nie robi, a metoda `remove`  wyjątek wyswietla`KeyError`.

In [102]:
set1.discard(22) # nic nie robi

set1.remove(8) 
set1

KeyError: 8

##### Na koniec, `pop()` usuwa jeden losowy element z zestawu i zwraca jego wartość. Jeśli zestaw jest pusty, pop generuje wyjątek `KeyError`

In [1]:
set2 = set()
set2.pop()

KeyError: 'pop from an empty set'

##### Moge także iterować po wszystkich elementach zestawu (w niezdefiniowanej kolejności!) Używając pętli for:

In [77]:
for elem in set1:
    print(elem)

0
2
4
6
8
10
12
14
16
18

___
![](sets.png)
____

In [42]:
A = {1,2,2,3,4,5}
B = {2,4,5,2,7,8,10,11}

##### Zestaw będący połączeniem zbiorów A i B
![](polacznie.png)

In [43]:
A|B

{1, 2, 3, 4, 5, 7, 8, 10, 11}

In [44]:
A.union(B)

{1, 2, 3, 4, 5, 7, 8, 10, 11}

##### krzyżowanie się zbiorów A i B
![](krzyżowanie.png)

In [45]:
A.intersection(B)

{2, 4, 5}

In [47]:
A & B

{2, 4, 5}

##### elementy ktore naleza do zbiory A i tylko do A
![](difference.jpg)

In [48]:
A.difference(B)

{1, 3}

In [51]:
A - B

{1, 3}

##### Elementy ktore naleza do jendego zbiory , ale nie naleza do A I B wowczas
(WSZYSTKO OPOCZ WSPOLNEJ CZESCI)

In [55]:
A.symmetric_difference(B)

{1, 3, 7, 8, 10, 11}

In [52]:
A ^ B

{1, 3, 7, 8, 10, 11}

##### Zwraca True lub False,sprawdza czy zbior A NIEma wpolnych elementow ze zbiorem B

In [16]:
A.isdisjoint(B)

False

##### Zwraca True lub False,prawdza czy wszystkie elementy z A naleza do zbiory B, a elementy z zbiory B nalezy do A

In [17]:
A == B

False

##### Wzystkie elementy A naleza do B

In [23]:
A = {1,2,3,4,5}
B = {2,3,2,3,4,5,1,2,3,2,2,3,4,1,4,5,6,7,8}
A.issubset(B)

True

In [20]:
A <= B

False

#### Wzystkie elementy B naleza do A

In [35]:
A = {1,2,3,4,23,42,42,4,2,4,1,2,4,12}
B = {2,1,2,3,4}

A.issuperset(B)

True

In [38]:
A >= B

True

### Krotki (tuple)
___
Dlaczego krotki są potrzebne, jeśli istnieją listy?
> * krotki zajmuja mniej miejsca niz listy
> * Ochrona przed głupcem. Oznacza to, że krotka jest chroniona przed zmianami, zarówno celowymi (co jest złe), jak i losowymi (co jest dobre).
> * może przechowywać różne typy danych jak i lista

In [1]:
krotka = ()
type(krotka)

tuple

In [17]:
krotka = (1,2,3,4,5)
krotka2 = ('a','b','c','d')
krotka + krotka2

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd')

In [18]:
krotka2+krotka

('a', 'b', 'c', 'd', 1, 2, 3, 4, 5)

#### Muszę tutaj przyznać, że krotek nie używa się zbyt często. Są one wykorzystywane w programowaniu zdecydowanie rzadziej niż listy i do tego w specyficznych zastosowaniach. A oto kilka zalet krotek:
___
* Po pierwsze, krotki są znacznie szybsze podczas obliczeń niż listy. Różnica jest nawet 10-krotna.


* Krotki używamy wtedy, kiedy mamy do czynienia z elementami, które nie powinny być podatne na modyfikacje, jak np. spis dni tygodnia lub daty w kalendarzu. Krotki zapewniają bezpieczeństwo, że żaden z jej elementów jak i ona sama nie zmienią się podczas przeprowadzanych operacji. Listy tego nie zapewniają.


* **Zasada generalne jest też taka, że krotki używamy do przechowywania różnych typów danych (heterogeneous datatypes), natomiast listy do podobnych typów danych (homogeneous datatypes).**

### PRZYKŁAD ZASTOSOWANIA KROTEK
___
 Jest to proste wykorzystanie krotek do przypisywania zmiennym wartości

In [21]:
tup = ('Gs/07', 0.6, 0.12)
(waga, rozmiar, skutecznosc) = tup

print(waga)
print(rozmiar)
print(skutecznosc)

Gs/07
0.6
0.12

### Defaultdict
___
Dziala jak zwykly slownik poza tym gdy chcesz znalezc w nim nieistniejacy klucz.

In [25]:
#aby skorzystac z defalutdict musze zainstalowac biblioteke
from collections import defaultdict

#####  roznica miedzy zwykly `dict` a `defaultdict`

In [28]:
#przy wywowaniu nieistniejacy klucza , mamy wyjatek KeyError
d = {}
d['a']

KeyError: 'a'

In [29]:
#tworzymy defaultdict
d = defaultdict(int)
d

defaultdict(int, {})

In [31]:
#kiedy chcemy wywowylac jakis klucz jakiego nie isntieje w danym slowniku , to bedziemy mieli
#domyślnia wartosc jaka mozemy sami ustalic, w danym przykladzie przy tworzeniu defaultdict , jako 
# parametr dalem int, co oznacza ze domyslnia wartosc bedzie 0
d['a']
d

defaultdict(int, {'a': 0})

In [33]:
# rowniez domyslna wartosc moze byc i inne 'callable' zmienne , naprzyklad lista
d = defaultdict(list)
d

defaultdict(list, {})

In [35]:
# jak widac teraz domyslna wartosc jak pusta lista Pythona
d['b']
d

defaultdict(list, {'b': []})

##### mozemy zmieniac domyslna wartosc defaultdict , za pomoca funckji  `default_factory`

In [42]:
d.default_factory = lambda : [1,2,3]
d

defaultdict(<function __main__.<lambda>()>, {'b': []})

In [43]:
d['new']

[1, 2, 3]

In [45]:
#teraz widac ze jest domyslna wartosc : (<function __main__.<lambda>()>
d

defaultdict(<function __main__.<lambda>()>, {'b': [], 'new': [1, 2, 3]})

##### przyklad wykorzystania defaultdict

In [50]:
data = [
    ("kowal", 2),
    ("nowak", 3),
    ("gruca", 5),
    ("zagorski",1),
    ("nowak",4),
    ("zvarych",6),
    ("nowak",3),
    ("gruca",2)
]
data

[('kowal', 2),
 ('nowak', 3),
 ('gruca', 5),
 ('zagorski', 1),
 ('nowak', 4),
 ('zvarych', 6),
 ('nowak', 3),
 ('gruca', 2)]

In [70]:
#tworze defaultdict
marks = defaultdict(int) # int, bo oceny sa integer
marks

defaultdict(int, {})

In [71]:
for surname, mark in data:
    marks[surname] += mark

In [73]:
marks

defaultdict(int,
            {'kowal': 2, 'nowak': 10, 'gruca': 7, 'zagorski': 1, 'zvarych': 6})

In [85]:
marks_list = defaultdict(list) # chce zgrupowac oneny jako liste
for surname, mark in data:
    marks_list[surname].append(mark)
marks_list

defaultdict(list,
            {'kowal': [2],
             'nowak': [3, 4, 3],
             'gruca': [5, 2],
             'zagorski': [1],
             'zvarych': [6]})

In [86]:
mark_set  = defaultdict(set) # chce wyswietlic tylko unikalne oceny kazdego ucznia
for surname, mark in data:
    mark_set[surname].add(mark)
mark_set

defaultdict(set,
            {'kowal': {2},
             'nowak': {3, 4},
             'gruca': {2, 5},
             'zagorski': {1},
             'zvarych': {6}})

### Counter (licznik)
___
funckja `Counter`zamienia sekwencje wartosci w obiekt podobny do `defaultdict(int)` - mapuje klucze do liczby ich wystapien:

In [3]:
from collections import Counter
c = Counter([1,2,1,0])
c

Counter({1: 2, 2: 1, 0: 1})

In [10]:
s = 'Denys Zvarych'
Counter(s)

Counter({'D': 1,
         'e': 1,
         'n': 1,
         'y': 2,
         's': 1,
         ' ': 1,
         'Z': 1,
         'v': 1,
         'a': 1,
         'r': 1,
         'c': 1,
         'h': 1})

In [13]:
names = ['Denys', 'Ben', 'Jakub', 'Denys', 'Jakub', 'Jakub']
Counter(names)

Counter({'Denys': 2, 'Ben': 1, 'Jakub': 3})

##### struktura danych Counter jest podobna `defaultdict` mozemy wywowylac klucze orza wartosci danej struktury:

In [23]:
c = Counter(names)
c['Denys'] # 2
 
c.items() # ict_items([('Denys', 2), ('Ben', 1), ('Jakub', 3)])
c.values() # dict_values([2, 1, 3])
c.keys()

dict_keys(['Denys', 'Ben', 'Jakub'])

##### rowniez obiekt Counter ma unikalnie metody, jakich nie na `defaultdict`:
* `elements()` - tworzy interator w ktorym sa klucze, wypisywane tyle ile klucz ten wystepuje w Counter
* `most_common()` -  sluzy do wybierania najczesciej wystepujacego elementu

In [24]:
c.elements() # tworzy iterator

In [26]:
for i in c.elements():
    print(i)

Denys
Denys
Ben
Jakub
Jakub
Jakub

In [28]:
c.most_common() #wypisuje wszystkie (klucz - wartosc), posortowane wg wartosci

[('Jakub', 3), ('Denys', 2), ('Ben', 1)]

In [29]:
c.most_common(2) #wypisuje tylko 2 pierwsze (klucz - wartosc) posortowane wg wartosci

[('Jakub', 3), ('Denys', 2)]

#####  mozemy robic rozne operacje miedzy dwoma `Counter`

In [39]:
c1 = Counter([1,1,2,2,3,4,])
c1

Counter({1: 2, 2: 2, 3: 1, 4: 1})

In [42]:
c2 = Counter([1,1,2,2,2,2,3,4,5])
c1 + c2

Counter({1: 4, 2: 6, 3: 2, 4: 2, 5: 1})

In [46]:
c2-c1

Counter({2: 2, 5: 1})

### Sortowanie 
___
kazda lista w Pythonie ma metode `sort()` ktora modyfikuje list,
jezeli nie chesz modyfikowac liste to trzeba skorzystac z funckji `y = sorted(x)`

te obudwie metody maja paremter `reverse = False` , co oznacza kolejnosci sotrtowanie elementow

In [76]:
x = [4,1,2,3]
x.sort()
x

[1, 2, 3, 4]

In [81]:
x = [1,23,4,2]
y = sorted(x,reverse=True)
print(x)
print(y)

[1, 23, 4, 2]
[23, 4, 2, 1]

### Testy automatyczne i instrukcja assert
___
Analiza danych wymaga napisania duzej ilosci kodu, dlatego warto uperwnic sie, ze on jest poprawny.


**Instrukjca `assert` podowuje pojawienie sie wyjatku `AssertionError`, jezeli osreslony warunek nie jest prawdziwy**

In [85]:
assert 1 + 1 == 2

In [88]:
assert 2 + 2 == 5, "musi byc 4!"

AssertionError: musi byc 4!

In [95]:
def smalest_item(xs):
    return max(xs)

assert smalest_item([10,20,34,2,4,5,0,-24]) == -24,  "funkcja dziala nie prawidlowo"

AssertionError: funkcja dziala nie prawidlowo

### OOP
___
`__init__` - konstuktor , takie funckje czesto nazywaja *dunder* (Double UNDERscore) , bo maja na poczatku i na koncu "__"

In [114]:
class CoutingClicker:
    """Klasa, powinna miec opis dokunentajacy"""
    
    def __init__(self, count = 5):
        self.count = count
    
    def click(self, num_times = 1):
        self.count += num_times
        
    def read(self):
        return self.count
    
    def reset(self):
        self.count = 0
        return 0

In [104]:
clicker1 = CoutingClicker()
clicker1.count

5

In [105]:
clicker2 = CoutingClicker(100)
clicker2.count

100

In [120]:
clicker3 = CoutingClicker(10)
clicker3.click(100)
clicker3.count

110

### Obiekty iterowane i generatorygeneratory
___
generatory mozna tworzyc za pomoca funckji i operatora `yeld`

In [8]:
import numpy as np

def generate_range(n):
    i = 0
    while i < n:
        yield (np.random.randint(100)) #kazde odwolanie od yield - wygenerowanie watosci generatora
        i +=1

In [9]:
for x in generate_range(10):
    print(x)

77
30
5
90
13
15
29
14
12
46

##### Generatory mozna rozwiez tworzyc , umieszczajac w nawiasach wyrazenia porownujace:

In [29]:
evens_below20 = (i for i in generate_range(30) if i%5==0 )
for x in evens_below20:
    print(x)

75
25
0
50
75
5

##### funkcja `enumerate()` przeksztalca wartosci w pary (indeks, watosc)

In [51]:
data = (x*2 for x in range(10))
for k,v in enumerate(data):
    print(k,v)

0 0
1 2
2 4
3 6
4 8
5 10
6 12
7 14
8 16
9 18

In [58]:
names = ['Denys', 'Kuba', 'Dominik', 'Ewelina', 'Magda', 'Angnieszka', 'Andzej', 'Beata']

for i, name in enumerate(names):
    print(f"name {i} is {name}")

name 0 is Denys
name 1 is Kuba
name 2 is Dominik
name 3 is Ewelina
name 4 is Magda
name 5 is Angnieszka
name 6 is Andzej
name 7 is Beata

In [70]:
# tworze funckje jaka licze silnie w jakimkolwiek zakresie
def fact(n):
    pr = 1
    for i in range(1, n + 1):
        pr = pr * i
        yield pr

In [65]:
s = fact(10)
print(next(s))
print(next(s))
print(next(s))
print(next(s))

1
2
6
24

In [69]:
for i in fact(15):
    print(i)

1
2
6
24
120
720
5040
40320
362880
3628800
39916800
479001600
6227020800
87178291200
1307674368000

###### Wznowiona funkcja rozpoczyna swoje działanie dokładnie w miejscu, w którym została wstrzymana.

In [91]:
def fact(n):
    s = 7
    pr = 1
    for x in range(1,n+1):
        pr = pr*x
        print(s)
        yield pr
        s *= 10

In [92]:
fact(10)

In [96]:
s = fact(10)
print(next(s))
print(next(s))
print(next(s))
print(next(s))
print(next(s))

7
1
70
2
700
6
7000
24
70000
120

#####  Generator mozna wykorzystac tylko jeden raz, tak jat przy tworzeniu generatora wartosci nie zapisuja sie do pamieci kompureta, dla tego wlasnie mozemy tworzyc orgomne dane

In [98]:
gen = (x for x in range(10000))
gen

In [99]:
print(sum(gen))

49995000

In [101]:
print(sum(gen)) # drugi raz juz nie uda sie dostac sie do danych z generatora, tak jak one nie zapisuja sie

0

### Losowosc
___
funckja `random()` generuje liczby rozlozone pomiedzy wartosciami 0 i 1

In [12]:
import random

four_uniform_randoms = [random.random() for _ in range(4)]
four_uniform_randoms

[0.9965569925394552, 0.04455638245043303, 0.860161037286291, 0.603190610968185]

In [13]:
four_uniform_randoms = [random.random() for _ in range(4)]
four_uniform_randoms

[0.3816059859191179,
 0.28361821790671515,
 0.674964847134956,
 0.45683115105830563]

#####  Modul `random` generuje liczby pseudolosowe, usywany jest do tego *algorythm deterministyczny* , krotrego poczatkowy stan mozna okreslicz za pomoca funkcji `random.seed()` - za kazdym razem otrzymamy takie same rezultaty

In [24]:
random.seed(10) #ziarno przyjmuje watosc 10.
print(random.random())
random.seed(10) # ponowne zdefiniowanie ziarna rownego 10
print(random.random())

0.5714025946899135
0.5714025946899135

##### funkjca `random.randrange()`, przyjmuje 1 lub 2  paremetry, i zwraca element wylosowany z tego zakresu

In [36]:
print(random.randrange(10)) # wylosowano liczbe w zakresie [0,1,2 ... 9] 
print(random.randrange(3,6)) # wyslowano liczbe w zakresie [3,4,5]

5
3

##### funckja `random.shuffle()` - zmienia ona kolejnosc elementow listy na losowa:

In [42]:
arr = [x for x in range(11)]
print(arr)
random.shuffle(arr)
print(arr)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 5, 8, 1, 10, 4, 0, 6, 9, 7]

#####  jezeli chcesz wybrac losowy elementy z listy, do tego sluzy funkcja `random.choice()`

In [50]:
my_best_friends = ['Denys','Adam', 'Alon', 'Uri']
random.choice(my_best_friends)

'Denys'

##### jezeli musisz wylosowac probe elementow bez zastepowania ( tak aby elementy nie powtarzaly sie) , to mozesz skorzystac z metody `random.sample`
  przyjmuje funkcja dwa parametry , 1 paramerty lista z ktorej bedzie losowanie , 2 parametr do ilosc wylosowanych elementow

In [58]:
lottery_numers = range(101)
winning_numers = random.sample(lottery_numers,5)
winning_numers

[10, 19, 49, 72, 47]

### Wyrazenie regularne
___
* `re.match`- sluzy do sprawdzania, czy lancuch znakow zaczyna sie od podanego wyrazenia
* `re.search` - sluzy do sprawdzanie czy lancuch znakow ma dane wyrazenie

In [82]:
import re
x = 'cat'
print(not re.match('a', 'cat')) # wyraz cat rozpoczyna sie od litety a
print(not re.search('t', 'cat')) # wyraz cat ma w slowie literke t

True
False

### Funkcja zip i rozpakowywanie argumentow
___
czesto bede musial laczyc ze soba kilka list za pomoca funkjci `zip()`

In [85]:
list1 = ['a','b','c']
list2 = [1,2,3,4,5]
zip(list1,list2)  # zip generuje wynik tylko wtedy, gdy jest potrzebny (tzw funckja leniwa)

In [93]:
pairs = [x for x in zip(list1,list2)] # tak jak liste o roznych wartosciach , funckja zip przerywa prace
pairs                              # po ostatnim elemencie najktrorzej listy

[('a', 1), ('b', 2), ('c', 3)]

##### w celu rozpakowywanie list polaczonych funkjca `zip` nalezy posluzyc sie  gwiazka `*`

In [94]:
leters, numbers = zip(*pairs)
print(leters)
print(numbers)

('a', 'b', 'c')
(1, 2, 3)

### Argumenty nazwane i nienazwane
___
* `*arg` jest krotka nienazwanych argunentow
* `*kwargs`jest slownikiem nazwanych argumentow

In [89]:
#zwykle rozpakowywanie elementow
a,b,c = [2,True,'hello']
print(a,b,c)

2 True hello

In [97]:
#ale gdy mamy wiecej elementow niz zmiennych to bedzie wyjatek:
try:
    a,b,c = [1.0,2,True,'hello',53,False]
except ValueError:
    print("too many values to unpack")

too many values to unpack

In [101]:
#do rozpakowywanie sluzy rowniz gwiazdka *
*a,b,c = [1.0,2,True,'hello',53,False]
print(a,b,c) # w c wchodzi ostatni element, w b - przedostatni, w a - wszystkie pozostale elementy 
a,*b,c = [1.0,2,True,'hello',53,False]
print(a,b,c) 
a,b,*c = [1.0,2,True,'hello',53,False]
print(a,b,c)

[1.0, 2, True, 'hello'] 53 False
1.0 [2, True, 'hello', 53] False
1.0 2 [True, 'hello', 53, False]

In [106]:
#jezeli liczba watosci bedzie mniejsza od zmiennych:
try:
    a,b,c =[2,3] # zwykle rozpakowywanie podouje blad
except ValueError:
    print("not enough values to unpack")

not enough values to unpack

In [113]:
#za pomoca gwiazki:
*a,b,c = [2,3]
print(a,b,c) #w a wchodza pozostale elementy,tak jak pozostaly elem nie ma, to w a jest pusta lista

[] 2 3

In [117]:
#ale tu juz niestety bedzie blad, tak jat do c - pojdzie ostatni element, a do b juz nie bedzie co
try:
    *a,b,c = [2]
except:
    print("not enough values to unpack")

not enough values to unpack

##### Wykorzystanie `*` przy rozpakowywaniu listy:

In [135]:
s = [5,21,3]
print(list(range(1,10)))
try:
    print(list(range(s))) # bedzie blad TypeError, tak jat lista moze byc interpretowana jako int
except TypeError:
    print("list' object cannot be interpreted as an integer")
    
#dla tego musze uzyc rozkakowywanie za pomoca "a"
print(list(range(*s)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
list' object cannot be interpreted as an integer
[5, 8, 11, 14, 17, 20]

##### Rozpakowywanie przy uzyci funckji:

In [137]:
def f(a,b,c,d):
    return a+b+c+d

In [143]:
try:
    f(1,2,3,4,5,6) #
except TypeError:
    print("za duza argumnetow podano do funkcji")

za duza argumnetow podano do funkcji

In [157]:
# za pomoca **args - funckja moze przyjmowac badz jaka liczba argumetnow:
def f(*args):
    return sum(args),type(args) # args ZWRACA KROTKE!

f(1,2,3,4,5,6,7,8,9,10)

(55, tuple)

In [160]:
#moge rowniez rozpakowywac args, tak jakt krotka umoziliwa ineteracja:
def f(*args):
    for i in args:
        print(i)

f(True,'czesc', 10, 0.5, [1,2,3,4])

True
czesc
10
0.5
[1, 2, 3, 4]

##### Do rozpakowywanie nazwanych argumentow sluzy `**kwards`

In [163]:
def foo(**kwards):
    for k,v in kwards.items():
        print(k,v)

foo(a = 1, b = 5, key = 'value')

a 1
b 5
key value

In [176]:
# rowniez mozna kombinowac *args i **kwards, ale najpierw pasuje podalac *args
def foo(*args,**kwargs):
    print(args,kwargs)
    for k,v in kwargs.items():
        print(v, end=' ')
    
foo(4,5,3,46,6, name = 'Denys',surname = 'Zvarych')

(4, 5, 3, 46, 6) {'name': 'Denys', 'surname': 'Zvarych'}
Denys Zvarych

In [3]:
def doubler(f):
    def g(x):
        return 2*f(x)
    return g

In [22]:
def f(x):
    return x+1

g = doubler(f)
assert g(3) == 8, '(3+1) * 2 == 8'
assert g(5) == 12, '(5+1) * 2 == 12'

jendakze rozwiazanie nie bedzie dziala prawidlowo w przypadku funckji przyjmujacych wiecej niz jeden argument:

In [24]:
def f(x,y):
    return x+y

In [28]:
g = doubler(f)
try:
    g(1,2)
except TypeError:
    print("funckja g przyjmuje tylko jeden argument")

funckja g przyjmuje tylko jeden argument

w zwiazku z tym mysimy okreslic funckje przyjmujmujaca dowolna liczbe arugmentow. Mozemy to zrobic za pomoca rozpakowywania argumentow.

In [38]:
def magic(*args, **kwargs):
    print("argumenty nieznane:", args)
    print("argumenty nazwane:", kwargs)
    
    
magic(1,2,3,4353,4, key = 'word', key2 = 'word2')

argumenty nieznane: (1, 2, 3, 4353, 4)
argumenty nazwane: {'key': 'word', 'key2': 'word2'}

In [46]:
def the_other_magic(x,y,z):
    return x + y + z

In [51]:
x_y_list = [1,2]
z_dict = {'z' : 3}
assert the_other_magic(*x_y_list, **z_dict) == 6 , "1+2+3 = 6"
the_other_magic(*x_y_list,**z_dict)

6

In [59]:
def doubler_correct(*args,**kwargs):
    def g(*args,**kwargs):
        return 2 * f(*args,**kwargs)
    return g

In [64]:
g = doubler_correct(f)
assert g(1,2) == 6 , "doubler powinien dzialac teraz poprawnie"

In [83]:
def f(s, lst):
    lst[1] = -2342
    return lst

In [84]:
list2 = [2,3,4]
f('hello',list2[:])
list2

[2, 3, 4]

### Anotacje typow
____
Python,JS,R,PHP sa *dynamiczne typowanym*. To znaczy ze Python nie zwraca uwagi na typ uzywanych obiektow, dopoki one sa uzywane poprawne:

In [11]:
def add(a,b):
    return a+b

assert add(10,5) == 15
assert add([1,2],[3]) == [1,2,3]
assert add('hi ','hello') == 'hi hello'

try:
    add(10,'piec')
except TypeError:
    print('nie mozna dodawac int do string')

nie mozna dodawac int do string

##### Istnieja jezyki statycznie typowane , np . JAVA,C++, TypeScript, Kotlin

In [23]:
def add2(a:int, b:int) -> int:
    return a+b

In [27]:
add2(10,5) # to by bylo porwawnie
add2('hi','there')  # to juz nie

'hithere'

In [29]:
from typing import Union

def foo(value: int, operation: Union[str,int,float,bool]) -> int:
    pass

### Jak pisac poprane anotacje typow:
dla typow wbudowanych , takich jak `int`,`bool`,`float`. uzywam nazwy typu w anotacji:

In [30]:
def f1(x:int) -> int:
    return x*2

##### w przypadku listy naprzyklad :

In [32]:
from typing import List

#chce aby xs byl lista float , a nie naprzyklad string
def total(xs: List[float]) -> float: 
    return sum(total)

##### Z modul `typing`  najczesciej korzystamy z `Dict, Iterable, Tuple`

In [39]:
from typing import Dict, Iterable, Tuple

#klucze sa typu string, a watosci typu int:
def foo(counts: Dict[str,int] = {'data' : 1, 'science': 2 }):
    pass

### String functions
___
* `split()` - rozdziela lancuch znakow i zwaca liste
* `strip()`- usuwa znak z poczatku i z konca
* rowniez mamy `rstrip()` i `lstrip()` - usuwaja z prawiej lub z lewej strony
* `lower()` - zwaraca caly string zawierajcy male litery
* `upper() ` - zwraca caly string zawierajcy duzy litery
* `replace()` - zamienia znaki miejscami w lancuchu
* `count()`- zwaraca ile razy element wystepuje w lancuchu
* `startwith()` i `endswith()` - zwaraca True lub False jezeli lanchuch zaczyna sie lub konczy sie na dany element
* `find(), index()` - zwraca lokalizajce elementy w lancuhu
___
* `isalpha()`  - zwaraca True jezeli wszystkie elementy w lancuchu sa literami
* `isalnum()` - zwaraca True jezeli wszystkie elementy w lancuchu sa literami LUB liczbami 
* `isdecimal()` - zwaraca True jezeli wszystkie elementy w lanuchu sa liczbami (0-9)

In [3]:
str1 = "Denys Zvarych"
str1.split()

['Denys', 'Zvarych']

In [47]:
str1 = "one two three four one two two three five five six seven six seven one"
print(str1.split())
type(str1.split())

['one', 'two', 'three', 'four', 'one', 'two', 'two', 'three', 'five', 'five', 'six', 'seven', 'six', 'seven', 'one']

list

In [7]:
str2 = "   Denys     Zvarych"
str2.strip()

'Denys     Zvarych'

In [20]:
str3 = "****Denys Zvarych*****"
str3.strip("*")

'Denys Zvarych'

In [23]:
str4 = 'DeNyS ZVArych'
print(str4.lower())
print(str4.upper())

denys zvarych
DENYS ZVARYCH

In [29]:
str4.replace("DeNyS", "Jakub")

'Jakub ZVArych'

In [36]:
string1 = "one two Three one two two three"
string1.count('two')

3

In [38]:
print(string1.startswith("one"))
print(string1.endswith("three"))

True
True

In [53]:
dane = "one two three four five six seven"
dane.find("seven")

28

In [54]:
dane.index("seven")

28

In [78]:
dane = '1234455664231'

print(dane.isalpha())
print(dane.isalnum())
print(dane.isdecimal())

False
True
True